.w3-content{
  max-width:1200px;
  max-height: 900px;
  margin:auto
}
/*.w3-section{
  margin-top:16px!important;
  margin-bottom:16px!important
}*/





/
/*
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 390px;
}



/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	/*box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;*/
}
